<?xml version="1.0"?>
<materialcmsSettings>
    <add key="materialcms-database-provider" value="MaterialCMS.DbConfiguration.SqlServer2012Provider" />
    <add key="enable-optimisations" value="False" />
    <add key="google-enabled" value="False" />
    <add key="google-client-id" />
    <add key="google-client-secret" />
    <add key="facebook-enabled" value="False" />
    <add key="facebook-app-id" />
    <add key="facebook-app-secret" />
    <add key="linkedin-enabled" value="False" />
    <add key="linkedin-client-id" />
    <add key="linkedin-client-secret" />
    <add key="file-extentions-to-handle" value=".asp,.php,.aspx" />
    <add key="materialcms.settings.mailsettings.systememailaddress" />
    <add key="materialcms.settings.mailsettings.host" />
    <add key="materialcms.settings.mailsettings.usessl" value="False" />
    <add key="materialcms.settings.mailsettings.username" />
    <add key="materialcms.settings.mailsettings.password" />
    <add key="materialcms.settings.mailsettings.port" value="25" />
</materialcmsSettings>